.reviews-section {
    margin-top: 5vh;
    width: 100vw;

    &-title {
        text-align: center;
        text-transform: uppercase;
    }

    .review {
        display: flex;
        gap: 3vw;
        border-bottom: 1px solid rgba(38, 97, 89, 0.555);
        padding: 2vh;

        .review-containerImage-image {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            background-color: burlywood;
            color: black;
            font-size: 3rem;
        }
    }

    .first-review {
        border-top: 1px solid rgba(38, 97, 89, 0.555);
    }
}

.modal-add-comment {
    display: block;
    border-top: 1px solid #2a566193;
    background-color: rgb(255, 255, 255);
    padding: 5vh;

    &-input {
        display: block;
        margin-bottom: 2vh;

        &-label {
            display: block;
        }
    }
}

.modal-add-comment-button {
    display: flex;
    gap: 2vw;

    &-button {
        padding: 2vh;
    }
}
