.container-Hero {
    margin: 0 auto;
    margin-top: 4vh;
    height: 70vh;
    width: 95vw;
    border-radius: 5vh;
    padding: 2rem;
    color: white;
    background: rgb(42, 75, 126);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    h2 {
        font-size: 4rem;
        flex-grow: 1;
    }

    .container-Hero-button {
        display: flex;
        justify-content: center;
    }

    .button-Hero {
        height: 10vh;
        border-radius: 20px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0);
        margin: 0 auto;
        width: 20vh;

     
    }

    &-button {
        text-align: center;
        flex-grow: 1;
    }

    &-searchBar {
       flex-grow: 1; 
       margin-top: 10vh;
    }
}

.info-category {
  position: relative;  
  top: 4vh;
  left: 50vw;
  width: 10vw;

  img {
    width: 5rem;
    position: absolute;  
    top: 8vh;
    left: 8vw;
    transform: rotate(280deg);
    
  }
}

.info-formation {
    position: relative;  
    bottom: 5vh;
    left: 25vw;
    width: 10vw;

  img {
    width: 5rem;
    position: absolute;  
    top: 8vh;
    left: 3vw;
    transform: rotate(90deg);
  }
}

.p-info {
    animation: bump 2s infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.animation-out {
    animation: out 2s;
}

@keyframes out {
    0% {
        transform: translate(0, -10vh);
    }
    50% {
        transform: translate(0, -80vh);
    }
    100% {
        transform: translate(0, -130vh);
    }
}

@keyframes bump {
    50% {
        transform: scale(1.1);
    } 
    100% {
        transform: scale(1);
    }
}
