.headerApp {
    display: flex;
    align-items: center;
    min-height: 10vh;
    width: 100vw;
    padding: 1vh;
    position: sticky;
    top: 0;
    background-color: rgb(10, 71, 56);
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;

    h1 {
        flex-grow: 1;
        margin: auto;
        color: white;
    }
   
 
    }
    

    button {
        margin: 1rem;
        background-color: rgb(20, 72, 82);
        border: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

