.headerApp {
    display: flex;
    align-items: center;
    height: 6vh;
    padding: 1vh;
    box-shadow: 1px 1px 5px rgb(196, 196, 196);
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: space-between;

    h1 {
        flex-grow: 1;
        margin: auto;
    }
   

        button {
            margin: 0rem;
            height: 90%;
            border-radius: 10px;
            background-color: rgb(13, 95, 17);
            border: none;
            color: white;
            text-transform: uppercase;
            margin-left: 5%;
        }
    }
    

    button {
        margin: 1rem;
        background-color: rgb(20, 110, 24);
        border: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        margin-left: 5%;
        border-radius: 0;
        height: 70%;
        
    }

