@import '../../style/variables.scss';

.section-card-formPage {
    display: flex;
    gap: 5vw;
    justify-content: center;
    margin-top: 30vh;
    margin-bottom: 30vh;

    .section-card-formPage-card{
        width: 30vw;
        border: 1px solid #bbbbbb;
        text-align: center;
        height: 30vh;
        padding: 2rem;
        cursor: pointer;
        background-color: $background-secondary-color;

        &:hover {
            background-color: #ffdd9f;
        }

    }
}

.container-form {
    width: 80vw;
    margin: 0 auto;
    margin-top: 10vh;
    min-height: 100vh;
}