.container-trainingList {

    width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;

}

.container-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow:auto;
    flex-wrap: auto;
    -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
    
  }
   



  