@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.team-container {
    min-height: 50vh;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;

    > div {
        flex: 0 0 120px;
        border-radius: 0.5rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        box-shadow: 1px 5px 15px #055c5f;
        position: relative;
        overflow: hidden;

        &:nth-of-type(1) {
            background: url('/assets/T060FDZAJ8H-U061F8K2NFM-68468d65a8bc-512.jpg')
                no-repeat 50% / cover;
        }
        &:nth-of-type(2) {
            background: url('/assets/T060FDZAJ8H-U061C93PEKD-160bff4b8e65-512.png')
                no-repeat 50% / cover;
        }
        &:nth-of-type(3) {
            background: url('/assets/qzdoqzidqzdvozqkkcwxc.png') no-repeat 50% /
                cover;
        }

        .content {
            font-size: 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 15px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            background: rgb(2, 2, 46);
            background: linear-gradient(
                0deg,
                rgba(2, 2, 46, 0.6755077030812324) 0%,
                rgba(255, 255, 255, 0) 100%
            );
            transform: translatey(100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;

            span {
                display: block;
                margin-top: 5px;
                font-size: 1.2rem;
            }
        }

        &:hover {
            flex: 0 0 250px;
            box-shadow: 1px 3px 15px #036129;
            transform: translatey(-30px);
        }

        &:hover .content {
            opacity: 1;
            transform: translatey(0%);
            visibility: visible;
        }
    }
}
