.searchBar {
        
    border: 1px solid #000000;
    border-radius: 10px;
    min-height: 5vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3px;
    background-color: white;
    display: flex;
    width: 60%;
    

    .container-input-text {
        height: 80%;
        flex-grow: 1;

        &-input {

            border: none;
            
            &:focus {
                outline: none;
                background-color: #fff;
            }
        }
    }


}

.header-searchBar-select {
    border: none;
    text-align: center;

    &:focus {
        outline: none
    }

    &::-webkit-scrollbar-track {
        background: rgb(24, 68, 68);
    }

    &::-webkit-scrollbar-thumb {
        background: #fff;
    }

    option {
        background-color: rgb(24, 68, 68);
        color: white;
    }
}

.buttonSearchBar {
    height: 100%;
    border-radius: 1vh;
    padding: 1vh;
}