.container-caracteristique {
    padding: 10vh;
    min-height: 100Vh;

    &-card {
       display: flex;
       flex-wrap: wrap;
       gap: 5vw;
    }

    &-title {
        text-align: center ;
        padding-top: 10vh;
        padding-bottom: 8vh;
        font-size: 4rem;
        color: rgb(17, 80, 59);
        text-transform: uppercase;
    }

}

@media (max-width: 1300px) {

    .container-caracteristique {
       
        min-height: 100Vh;
    
        &-card {
           display: flex;
           flex-wrap: wrap;
           gap: 4vw;
        }
    
        &-title {
            text-align: center ;
            padding-top: 10vh;
            padding-bottom: 8vh;
            font-size: 4rem;
            color: rgb(17, 80, 59);
            text-transform: uppercase;
        }
    
    }
}

@media (max-width: 1050px) {

    .container-caracteristique {
       
        min-height: 100Vh;
    
        &-card {
           display: flex;
           gap: 2vw;
           align-items: center;
         
        }
    
        &-title {
            text-align: center ;
            padding-top: 10vh;
            padding-bottom: 8vh;
            font-size: 3rem;
            color: rgb(17, 80, 59);
            text-transform: uppercase;
        }
    
    }

}

@media (max-width: 500px) {
    .container-caracteristique {
        padding: 5vh;
}
}


