.content-trainingpage {
    background-color: rgb(255, 245, 233);
    height: 60vh;
    min-height: 60vh;

    &-menu {
        height: 15%;
        display: flex;
        justify-content: space-around;

        .active {
            border-bottom: 1px solid #154757;
        }

        button{
            background-color: rgba(255, 255, 255, 0);
            color: black;
            text-transform: uppercase;


            &:hover {
                border-bottom: 1px solid #000;
            }
        }

    }

    &-text {

        width: 80%;
        margin: 0 auto;

        &-p {


        }
    }
}

