.content-trainingpage {
    background-color: rgb(255, 245, 233);
    padding: 5vh;

    &-menu {
        height: 15%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 5vh;

        .active {
            border-bottom: 1px solid #154757;
        }

        button{
            background-color: rgba(255, 255, 255, 0);
            color: black;
            text-transform: uppercase;


            &:hover {
                border-bottom: 1px solid #000;
            }
        }

    }

    &-text {

        width: 80%;
        margin: 0 auto;

        &-p {


        }
    }
}

.content-trainingpage-organization {
    display: flex;
    gap: 2vw;

    &-image {
        width: 30vw;
        max-height: 350px;
    }
}

.content-trainingpage-menu-link {
    color: #154757;

    &:hover {
        color: #154757;
    }
}

@media (max-width:680px) {
    .content-trainingpage {
        padding: 4vh;


        &-text {

            width: 100%;
            margin: 0 auto;

    }
}
.content-trainingpage-organization {
    flex-direction: column;
    align-items: center;
}

}

@media (max-width: 420px) {

    .content-trainingpage {

        padding: 1vh;
   
        &-menu {
            display: flex;
            justify-content: space-around;
            margin-bottom: 5vh;
            font-size: 0.9rem;
    
        }
    }
}