.caracteristique-card {
    max-width: 25vw;
    min-width: 20vw;
    max-height: 40vh;
    padding: 5vh;
    padding-top: 10vh;
    transition: 0.5s ease-in-out;
    background-color: rgb(20, 90, 81); 
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

@media (max-width: 1380px) {
    .caracteristique-card {
        padding: 3vh;
        max-width: 35vw;
        
    }
    
}

@media (max-width: 1060px) {
    .caracteristique-card {
        padding: 5vh;
        max-width: 70vw;
        margin: 0 auto;
        min-height: 30vh;
    }
    
}

@media (max-width: 660px) {
    .caracteristique-card {
        padding: 5vh;
        max-width: 70vw;
        margin: 0 auto;
        min-height: 30vh;
        max-height: 100vh;
    }
    
}

@media (max-width: 400px) {
    .caracteristique-card {
        padding: 3vh;
        max-width: 90vw;
        margin: 0 auto;
        min-height: 50vh;
        max-height: 100vh;
    }
    
}