@import '../../../style/variables.scss';

.container-landing {
    height: 100vh;
    background-color: $background-primary-color;
    min-width: 100vw;
    box-sizing: border-box;
    color: $text-color-with-primary-background;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    margin-left: 10vw;
    height: 40vh;
    display: flex;
    align-items: center;
    width: 70%;
}

.h1-title-landing{
    font-size: 5rem;
    text-transform: uppercase;
}

.subtitle-landing {
    margin-left: 10vw;

    &-p {
        font-size: 2rem;
    }

    &-span {
        font-weight: bold;
        font-size: 2.5rem;
    }
    
    
}
.link-landing {
    margin-left: 10vw;
    margin-top: 15vh;

    &-a {
        background-color: $text-color-with-primary-background;
        color: $background-primary-color;
        padding: 2rem;
        border-radius: 2vh;
        font-size: 1.5rem;

        &:hover {
          color: $background-primary-color;
          background-color: rgb(211, 211, 211);
          cursor: pointer;
        }
    }
}


.image-landing {
    margin-left: 50vw;
    width: 50vw;

}


@media (max-width: 1050px) {
    .h1-title-landing {
        font-size: 3rem;
    }

}

@media (max-width: 800px) {
    .image-landing {
        display: none;
    }
    .container-landing {
        text-align: center;
    }
    .subtitle-landing {
        margin: 1rem;
        min-height: 30vh;
        
    }

    .title{
        margin: 0 auto;
        width: 100%;
    }

    .h1-title-landing {
        font-size: 2.5rem;
    }

    .link-landing {
        margin: 0 auto;
    }
}