.swiper {
    width: 70%;
    height: auto;
}

.swiper-slide {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    filter: blur(4px);
}

.swiper-slide-active {
    filter: blur(0);
}

.swiper-slide img {
    object-fit: cover;
}
