.content-organizationPage
    {
    background-color: rgb(255, 245, 233);
    padding: 5vh;

    &-menu {
        height: 15%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 5vh;

        .active {
            border-bottom: 1px solid #154757;
        }

        button{
            background-color: rgba(255, 255, 255, 0);
            color: black;
            text-transform: uppercase;


            &:hover {
                border-bottom: 1px solid #000;
            }
        }

    }

    &-text {

        width: 80%;
        margin: 0 auto;

        
    }

    &-trainings {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        overflow:auto;
        flex-wrap: auto;

    }
}

.content-organizationPage-organization {
    display: flex;
    gap: 2vw;

}

.content-organizationPage-menu-link {
    color: #154757;

    &:hover {
        color: #154757;
    }
}